{% extends 'mail_templates/base_template.html' %}

{% block content %}
<table class="row" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center">
            <table class="col-12" width="580" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="center">
                        <table class="block-content" align="center" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td align="center">
                                    <h1>Hi there</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock content %}