{% extends 'mail_templates/base_template.html' %}

{% load thumbnail %}
{% load static %}

{% block content %}
<table class="row" width="560" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center" style="padding-top: 30px; padding-bottom: 30px;">
            <table class="block-content" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; line-height: 38px; font-weight: bold; color: #666666;"> 
                        Stimate domn/doamna.
                    </td>
                </tr>
                <tr>
                    <td align="left" style="padding-top:10px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; color: #666666;">
                        &nbsp;&nbsp;&nbsp;&nbsp;Avem placerea  de a va aduce la cunostinta principala activitate a firmei noastre Packjoy Online Shop SRL-D si anume importarea unor produse de design, cum ar fi husa din silicon- pentru infrumusetarea pachetelor de tigari.<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;Cautam distribuitori si colaboratori in toata tara. <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;Pentru informatii suplimentare va rugam sa ne contactati  pe <a href="mailto:ejoy.main@gmail.com" target="_blank" style="color: #666666; text-decoration: underline;">ejoy.main@gmail.com</a>.<br /><br />
                        Cu stima,<br />
                        <b>Echipa Packjoy</b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="row" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center">       
        {% for product in products %}
            <table width="198" class="col-4" align="left" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="center">
                        <a href="https://www.packjoy.store{{ product.get_absolute_url|urlencode }}?utm_source=packjoy&utm_medium=email&utm_campaign=welcome" target="_blank">
                        {% with image=product.primary_image %}
                            {% thumbnail image.original "220x200" upscale=False as thumb %}
                                <img src="https://www.packjoy.store{{ thumb.url }}" alt="{{ product.get_title }}" />
                            {% endthumbnail %}
                        {% endwith %}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="70" valign="top" style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; color: #666666; text-decoration: underline;">
                        <a href="https://www.packjoy.store{{ product.get_absolute_url|urlencode }}?utm_source=packjoy&utm_medium=email&utm_campaign=welcome" target="_blank" style="text-decoration: underline; color: #666666;">
                            {{ product.get_title }}
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td align="left" style="padding-left: 20px; padding-top: 10px; padding-bottom: 40px;">
            <table class="col-12" width="580" align="center" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #666666; line-height: 24px; text-align: left; font-weight: bold; font-style: italic;">
                        <a href="https://www.packjoy.store/en/category/packjoy_1/?utm_source=packjoy&utm_medium=email&utm_campaign=welcome" target="_blank" style="color: #666666; text-decoration: underline;">
                            Mai mult in siteul nostru &#9658;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock content %}