{% load i18n %}
<footer class="footer container-fluid">
    {% block footer %}
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
    {% endblock %}
    <p style="text-align: center; margin-top: 10px;">&copy;{% trans "All rights reserverd - Packjoy Online Shop" %}</p>
    <p style="text-align: center;">Str. Dozsa Gyorgy, Targu Secuiesc, 525400, CV, Romania</p>
</footer>